h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 5px;
  text-align: left;
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 10px;
}

h5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  margin-bottom: 3px;
}

i{
  color: #898a89;
}

link{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog__page {
  padding: 100px 100px;
}

.blog__page__header {
  letter-spacing: -1px;
  font-size: 35px;
  margin-bottom: 10px;;
}

.blog {
  text-align: center;
  margin: 20px;
  size: auto;
  text-decoration: none;
  padding: 10px;
  transition: width 2s;
  margin: 40px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  border-radius: 25px;
  padding-bottom: 40px;
}

.desc{
  white-space: pre-wrap;
}

.blog > div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}

.blog > div > h1 {
  font-size: 25px;
  letter-spacing: -0.6px;
  line-height: 1.3em;
  padding: 10px 0;
  font-weight: 700;
  text-decoration: underline;
}

.blog > div > p {
  font-size: 13px;
  line-height: 1.6em;
  color: rgb(223, 223, 223);
  padding-bottom: 30px;
  
}

.blog:hover{
  transform: scale(1.025);
}

.button-23 {
	position: relative;
	z-index: 3;
	background: transparent;
	color: #242525;
	font-size: 14px !important;
	border-color: #1a1a1b;
	border-style: solid;
	cursor: pointer;
	border-width: 2px;
	border-radius: 22px;
	text-decoration:none; 
	padding: 10px 40px;
	text-transform: uppercase;
	transition: all 0.2s linear;
	margin-left: 25px;
	margin-right: 25px;
  }
  
  .button-23:active {
	border-radius: 22px;
  }
  .button-23 {
	font-weight: 700;
	color: #020202;
	  border-color: #000000;
	background: transparent;
  }
  .button-23:hover {
	 color: white;
	background: #0f0f0f;
	border-color: #1b1b1b;
  }

.emojis {
	background-color:rgb(107, 107, 107);
	border-radius:2px;
	border:1px solid rgb(7, 4, 4);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  padding: 2px;
	text-decoration:none;
	text-shadow:0px 1px 20px #080f07;
  font-size: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.back {
  text-decoration: none;
  color: #000000;
  text-align: right;
  font-size: 10px;
  box-shadow: 4px 3px 8px 1px #f1f1f1;
  -webkit-box-shadow: 4px 3px 8px 1px #f5f5f5;
}

.back:hover {
  background-color: #eeeeee;
}



